node_modules
.expo
.expo-shared
.cache
dist
web-build
.git
.github
.gitignore
*.md
.env*.local
.DS_Store
*.tsbuildinfo
.expo-cli
android
ios
.kotlin
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
jest/
